body {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}
.item-first{
    margin-bottom: 0px;
}
  .item-second {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center; 
    height: 200px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.item-second .LargerNum  {
    width: 200px; 
    height: 200px;
    font-size: 200px;
    margin-right: 100px;
}
.item-second .Right{
    display: flex;
    flex-direction: column;
}
.item-second .unit {
    font-size: 60px; 
    margin-top: 0;
    margin-bottom: 0px;
    
}
.inputname{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #00000042;
    font-size: 16px;
}